@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Righteous&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Bangers', cursive;
  
}
body{
  overflow-y: hidden;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  bottom: 200px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.text-box {
  position: absolute;
  top: 200px;
  left: 0;
  bottom: 100px !important;
  background: #000;
  height: 37%;
  width: 100%;
  color: aliceblue;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 100px;
  font-weight: 900;
  mix-blend-mode: multiply;
}
