*{
    margin: 0%;
    padding: 0%;
    font-family:cursive;
}
body{
    background-image: -moz-repeating-linear-gradient(rgba(145, 60, 241, 0.699) , rgb(34, 209, 165) ,rgba(241, 63, 161, 0.836) );
    background-image: -webkit-repeating-linear-gradient(rgba(145, 60, 241, 0.699) , rgb(34, 209, 165) ,rgba(241, 63, 161, 0.836) );
    background-image: repeating-linear-gradient(to bottom right, rgba(145, 60, 241, 0.699) , rgb(34, 209, 165) ,rgba(241, 63, 161, 0.836) );
    background-repeat: repeat; 
    
     
}
.welcome{
    text-align: center;
    color:rgb(92, 59, 95);
}

.mygallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-gap: 30px;
}
.mygallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}
.mygallery img:hover{
    transform: scale(1.3) rotate(2deg) ;
    border-radius: 20px;
    box-shadow: 10px 34px 75px rgb(0, 0, 0);    /* rgba(111, 43, 219, 0.74) */
}
.full{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.863);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full img{
    width: 90%;
    max-width:500px ;
}
.full span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}
.container {
    display: block;
    font-size: auto;
    background-color: #5d38b4;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    line-height: 3;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position:relative;
  }
  .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
  }
  
  .glow-on-hover:active {
    color: #000
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  